<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ddlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ddlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.DigitalDetox"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".BlockAppsListActivity"
            android:exported="false" />
        <activity
            android:name=".AppBlockingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateAccountActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".PermissionsActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".StreakProgressActivity" />
        <activity android:name=".FocusSessionActivity" />
        <activity android:name=".CountdownActivity" />
        <activity android:name=".VoiceAlertsActivity" />
        <activity android:name=".SelectAlertTypeActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".AppPreferencesActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".VerifyCodeActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".PasswordResetSuccessActivity" />
        <activity android:name=".DailyChallengesActivity" />
        <activity android:name=".RewardsActivity" />
        <activity android:name=".DetoxPlansActivity" />
        <activity android:name=".DetoxPlanDetailActivity" />
        <activity android:name=".HabitRoadmapActivity" />
        <activity android:name=".DailyChecklistActivity" />
        <activity android:name=".ProgressTrackingActivity" />
        <activity android:name=".AppUsageActivity" />
        <activity android:name=".DailyScreenTimeActivity" />
        <activity android:name=".BlockedWebsitesActivity" />
        <activity android:name=".ActiveBlocksActivity" />
        <activity android:name=".BlockByCategoryActivity" />
        <activity android:name=".BlockedAttemptsActivity" />
        <activity android:name=".AppWiseUsageActivity" />
        <activity android:name=".AppWiseUsageDetailActivity" />
    </application>

</manifest>